﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.sandstone.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="~/scripts/jquery-2.1.1.min.js"></script>

    <link href="~/Content/WebshopElectroStyle.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Solutions Corner</a>
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jumbotron text-center">
                @RenderBody()
            </div>

        </div>
    </div>

    <hr />

    <footer class="container text-center">
        <p>&copy; @DateTime.Now.Year - BN | Electro</p>
    </footer>

    <script src="~/scripts/bootstrap.min.js"></script>


    <script src="~/scripts/ConfirmMessage.js"></script>
</body>
</html>

