﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.sandstone.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.9.1.min.js"></script>

    <link href="~/Content/WebshopElectroStyle.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">ElectroShop</a>
            </div>

            <div class="collapse navbar-collapse">

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
                @RenderBody()
            </div>

        </div>
    </div>

    <hr />

    <footer class="container text-center">
        <p>&copy; @DateTime.Now.Year - BN | Electro</p>
    </footer>

    <script src="~/scripts/bootstrap.min.js"></script>


</body>
</html>

