﻿
@{
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <p>

            <a href="@Url.Action("CreateNewDevice", "Device")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-plus-circle fa-5x"></i> <br />
                Create New <br>Device
            </a>
            <a href="@Url.Action("ListDevices","Device")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-list-ol fa-5x"></i><br />
                List <br>Devices
            </a>



            <a href="#" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-star fa-5x"></i><br />
                Media <br>Markt
            </a>

        </p>


        <p>
            <a href="#" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-star fa-5x"></i><br />
                Solutions <br> Conner
            </a>
            <a href="@Url.Action("CreateNewStock", "Stock")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-plus-square-o fa-5x"></i><br/>
                Create New <br>Stock
            </a>

            <a href="@Url.Action("ListStock", "Stock")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-list-ul fa-5x"></i><br/>
                List <br>Stock
            </a>

        

        </p>

        <p>

            <a href="@Url.Action("DoasList", "Register")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-plus-square-o fa-5x"></i><br />
                Register <br>DOA
            </a>

            <a href="#" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-star fa-5x"></i><br />
                List <br>Registerd
            </a>
            <a href="@Url.Action("Register", "Register")" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-list-ul fa-5x"></i><br />
                Register <br>Repaire
            </a>


        </p>
    </div>
</div>
