﻿@model InventorApp.Models.Stock
@{
    ViewBag.Title = "Create New Stock";
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form class="form-horizontal" method="POST" action="@Url.Action("CreateNewStock", "Stock")">
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create New Stock</legend>

                    <div class="form-group">
                        <div>
                            @Html.DropDownList("Merken", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.HardWare.Merk, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            @Html.DropDownList("Types", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HardWare.Model, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            @Html.DropDownList("HardWareId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HardWare.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Naam" name="Naam" placeholder="Onderdeel Naam">
                            @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Option" name="Option" placeholder="Option">
                            @Html.ValidationMessageFor(model => model.Option, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="MinVoorRaad" name="MinVoorRaad" placeholder="Minimum Voorraad">
                            @Html.ValidationMessageFor(model => model.MinVoorRaad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="VoorRaad" name="VoorRaad" placeholder="Aantal">
                            @Html.ValidationMessageFor(model => model.VoorRaad, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="IkPrijs" name="IkPrijs" placeholder="Inkoop Prijs">
                            @Html.ValidationMessageFor(model => model.IkPrijs, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Marge" name="Marge" placeholder="Marge">
                            @Html.ValidationMessageFor(model => model.Marge, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="PersoneelsPrijs" name="PersoneelsPrijs" placeholder="Personeels Prijs">
                            @Html.ValidationMessageFor(model => model.PersoneelsPrijs, "", new {@class = "text-danger"})
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="TransprotKoste" name="TransprotKoste" placeholder="TransprotKoste">
                            @Html.ValidationMessageFor(model => model.TransprotKoste, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Leverancier" name="Leverancier" placeholder="Leverancier">
                            @Html.ValidationMessageFor(model => model.Leverancier, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <a href="@Url.Action("Index", "Home")" type="reset" class="btn btn-default col-lg-5 col-md-5 col-sm-5 col-xs-5 ">Cancel</a>
                            <button type="submit" class="btn btn-warning col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6  col-sm-offset-1 col-sm-6 col-xs-offset-1 col-xs-6 ">Save</button>
                        </div>
                    </div>



                </fieldset>

            </form>
        </div>
    </div>
</div>

