﻿@model IEnumerable<InventorApp.Models.Stock>
@{
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<div id="stocklist">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 align="left" class="panel-title">Stock</h3>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <a href="@Url.Action("CreateNewStock","Stock")" type="button" class="btn btn-sm btn-primary btn-create">Create New</a>
                            </div>
                        </div>
                        <br />
                        <input type="text" class="search form-control" placeholder="Search Hardware" />


                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>

                                    <th class="hidden-xs">ID</th>
                                    <th>@Html.DisplayNameFor(model => model.HardWare.Model)</th>
                                    <th>@Html.DisplayNameFor(model => model.Naam)</th>
                                    <th>@Html.DisplayNameFor(model => model.Option)</th>
                                    <th>@Html.DisplayNameFor(model => model.VoorRaad)</th>
                                    <th>@Html.DisplayNameFor(model => model.Prijs)</th>
                                    <th>@Html.DisplayNameFor(model => model.PersoneelsPrijs)</th>
                                    <th><em class="fa fa-cog"></em></th>

                                </tr>
                            </thead>
                            <tbody class="list">
                                @{
                                    int teller = 1;
                                }
                                @foreach (var itm in Model)
                                {
                                    <tr>

                                        <td class="hidden-xs">@teller</td>
                                        <td class="model">@itm.HardWare.Model</td>
                                        <td class="naam">@itm.Naam</td>
                                        <td class="option">@itm.Option</td>
                                        <td class="voorRaad">@itm.VoorRaad</td>
                                        <td class="prijs">@itm.Prijs</td>
                                        <td class="personeelsPrijs">@itm.PersoneelsPrijs</td>

                                        <td align="center">
                                            <a href="@Url.Action("Update","Stock", new {id = itm.Id})" class="btn btn-default "><em class="fa fa-pencil"></em></a>
                                            <a href="@Url.Action("Delete","Stock",new {id = itm.Id})" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        </td>
                                    </tr>
                                    teller++;
                                }

                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        End...
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="~/scripts/ScriptInvent.js"></script>
<script src="~/scripts/ConfirmMessage.js"></script>