﻿@model IEnumerable<InventorApp.Models.Inschrijven>
@{
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<form class="form-horizontal" method="POST" action="@Url.Action("Register", "Register")">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 align="left" class="panel-title">Register</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <div>
                                            <label class="col-md-2" for="totaal">Total: </label>
                                        
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="stocklist">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 align="left" class="panel-title">Stock</h3>
                            </div>
                        </div>
                        <br/>
                        <input type="text" class="search form-control" placeholder="Search Hardware"/>


                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>

                                <th class="hidden-xs">ID</th>
                                <th>@Html.DisplayNameFor(model => model.Stock.HardWare.Model)</th>
                                <th>@Html.DisplayNameFor(model => model.Stock.Naam)</th>
                                <th>@Html.DisplayNameFor(model => model.Stock.Option)</th>
                                <th>@Html.DisplayNameFor(model => model.Aantal)</th>
                       
                                <th><em class="fa fa-cog"></em></th>

                            </tr>
                            </thead>
                            <tbody class="list">
                            @{
                                int teller = 1;
                            }
                            @foreach (var itm in Model)
                            {

                            
                                <tr>
                                  <input type="hidden"  value="@itm.Id" id="StockId" name="StockId"/>
                                    <td class="hidden-xs">@teller</td>

                                    <td class="model">@itm.Stock.HardWare.Model</td>
                                    <td class="naam">@itm.Stock.Naam</td>
                                    <td class="option">@itm.Stock.Option</td>
                                    <td class="aantal">@itm.Aantal</td>
                                
                                
                 
                                    <td align="center">
                                        <button type="submit" class="btn btn-default"><em class="fa fa-check"></em></button>
                                        @*<a href="@Url.Action("Register", "Register", new {id = itm.Id})" class="btn btn-default "><em class="fa fa-check"></em></a>*@
                                    </td>
                                </tr>

                                
                                teller++;
                            }

                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        End...
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    </form>
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <script src="~/scripts/ScriptInvent.js"></script>
    <script src="~/scripts/ConfirmMessage.js"></script>


