﻿@using System.Collections.Concurrent
@using InventorApp.Models
@model InventorApp.Models.Inschrijven
@{
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<form class="form-horizontal" method="POST" action="@Url.Action("Register", "Register")">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 align="left" class="panel-title">Register</h3>
                                </div>



                            </div>
                            <div class="panel-body">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sm-12 col-xs-12 ">

                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="RefNum" name="RefNum" placeholder="RefNum">
                                            @Html.ValidationMessageFor(model => model.RefNum, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="Aantal" name="Aantal" placeholder="Aantal">
                                            @Html.ValidationMessageFor(model => model.Aantal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>

                                            @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control", @id = "Status" })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                        @*<div class="form-group">
                                            @Html.Label("Doa")
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.Doa)
                                                @Html.ValidationMessageFor(model => model.Doa, "", new {@class = "text-danger"})
                                            </div>
                                        </div>*@


                                   
                                    </div>

                                <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label for="Doa" class="col-md-2">
                                            Doa</label>
                                        <div class="col-md-2">
                                            <input type="checkbox" class="checkbox" id="Doa" name="Doa"/>
                                        </div>

                                        <div >
                                            <p class="navbar-right">
                                                <h4>@ViewBag.DateString</h4></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="retour" class="col-md-2">
                                            Retour</label>
                                        <div class="col-md-5">
                                            <input type="checkbox" class="checkbox" id="retour" name="Retour">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="eigenSchade" class="col-md-2">eigenSchade</label>
                                        <div class="col-md-5">
                                            <input type="checkbox" class="checkbox" id="eigenSchade" name="EigenSchade">

                                        </div>
                                    </div>

                                

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="stocklist">
        <div class="container-fluid">
            <div class="row">



                <div class="col-md-10 col-md-offset-1">

                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 align="left" class="panel-title">Stock</h3>
                                </div>
                            </div>
                            <br />
                            <input type="text" class="search form-control" placeholder="Search Hardware" />


                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>

                                        <th class="hidden-xs">ID</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.HardWare.Model)</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.Naam)</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.Option)</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.VoorRaad)</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.Prijs)</th>
                                        <th>@Html.DisplayNameFor(model => model.Stock.PersoneelsPrijs)</th>
                                        <th><em class="fa fa-cog"></em></th>

                                    </tr>
                                </thead>
                                <tbody class="list">
                                    @{
                                        int teller = 1;
                                    }
                                    @foreach (var itm in (List<Stock>)ViewData["RegisterDev"])
                                    {


                                        <tr>
                                            <input type="hidden" value="@itm.Id" id="StockId" name="StockId" />
                                            <td class="hidden-xs">@teller</td>

                                            <td class="model">@itm.HardWare.Model</td>
                                            <td class="naam">@itm.Naam</td>
                                            <td class="option">@itm.Option</td>
                                            <td class="voorRaad">@itm.VoorRaad</td>
                                            <td class="voorRaad">@itm.Prijs</td>
                                            <td class="personeelsPrijs">@itm.PersoneelsPrijs</td>


                                            <td align="center">
                                                <button type="submit" value="@itm.Id" name="id" class="btn btn-default"><em class="fa fa-check"></em></button>
                                                @*<a href="@Url.Action("Register", "Register", new {id = itm.Id})" class="btn btn-default "><em class="fa fa-check"></em></a>*@
                                            </td>
                                        </tr>


                                        teller++;
                                    }

                                </tbody>
                            </table>

                        </div>
                        <div class="panel-footer">
                            End...
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="~/scripts/ScriptInvent.js"></script>
<script src="~/scripts/ConfirmMessage.js"></script>
