﻿@model InventorApp.Models.HardWare
@{
    ViewBag.Title = "CreateDevice";
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form class="form-horizontal" method="POST" action="@Url.Action("CreateNewDevice", "Device")">
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create New Device</legend>
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Merk" name="Merk" placeholder="Merk">
                            @Html.ValidationMessageFor(model => model.Merk, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Model" name="Model" placeholder="Model">
                            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control" id="Type" name="Type" placeholder="Type">
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div>
                            <a href="@Url.Action("Index", "Home")" type="reset" class="btn btn-default col-lg-5 col-md-5 col-sm-5 col-xs-5 ">Cancel</a>
                            <button type="submit" class="btn btn-warning col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6  col-sm-offset-1 col-sm-6 col-xs-offset-1 col-xs-6 ">Save</button>
                        </div>
                    </div>


                    
                </fieldset>

            </form>
        </div>
    </div>
</div>