﻿@model IEnumerable<InventorApp.Models.HardWare>
@{
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
}

<div id="hardwarelist">
    <div class="container-fluid">
        <div class="row">

          

            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 align="left" class="panel-title">Hardware</h3>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <a href="@Url.Action("CreateNewDevice","Device")" type="button" class="btn btn-sm btn-primary btn-create">Create New</a>
                            </div>
                        </div>
                      <br/>
                            <input type="text" class="search form-control" placeholder="Search Hardware" />
                     
                        
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>

                                    <th class="hidden-xs">ID</th>
                                    <th>@Html.DisplayNameFor(model => model.Merk)</th>
                                    <th>@Html.DisplayNameFor(model => model.Model)</th>
                                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                                    <th><em class="fa fa-cog"></em></th>

                                </tr>
                            </thead>
                            <tbody class="list">
                                @{
                                    int teller = 1;
                                }
                                @foreach (var itm in Model)
                                {
                                    <tr>

                                        <td class="hidden-xs">@teller</td>
                                        <td class="merk">@itm.Merk</td>
                                        <td class="model">@itm.Model</td>
                                        <td class="type">@itm.Type</td>
                                        <td align="center">
                                            <a href="@Url.Action("Update","Device", new {id = itm.Id})" class="btn btn-default "><em class="fa fa-pencil"></em></a>
                                            <a href="@Url.Action("Delete","Device",new {id = itm.Id})" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        </td>
                                    </tr>
                                    teller++;
                                }

                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                       End...
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="~/scripts/ScriptInvent.js"></script>
<script src="~/scripts/ConfirmMessage.js"></script>